@tailwind base;
@tailwind components;
@tailwind utilities;

.forms-container {
  width: 80%;
  margin: 40px auto;
  padding: 40px;
}

.inner-form-container {
  background-color: #f0f0f0;
  padding: 20px;
  margin: 40px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.inner-form-container > input,
label {
  width: 90%;
}

button {
  border: solid 2px outline;
  padding: 5px;
  border-radius: 5px;
}
